{% extends 'polls/layout.html' %}

{% block content %}
    <h3>Welcome to Polls!</h3>
    {% if not polls %}
        <p>No polls yet! Create one <a href="{% url 'polls:new' %}">here</a>.</p>
    {% else %}
        {% for poll in polls %}
        <div class="poll">
            <h4>{{poll.title}}</h4>
            <ol>
                {% for choice in poll.pollchoice_set.all %}
                    <li>
                        {{choice.content}}

                        <ul class="votes">
                            <li><span class="label">Votes: </span>{{choice.votes}}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ol>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}